@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: #1DCD9F;
        --secondary-color: #169976;   
        --terciary-color: #000000;
        --background-color: #222222;
     }
}